* {
    box-sizing: border-box;
}

.table {
    font-size: 14px;
    width: 100%;
    border-color: rgb(223, 227, 235);
    border-style: solid;
    border-width: 0px 1px 1px;
    margin-bottom: 15px;
}

th {
    font-family: Helvetica;
    font-weight: 500;
    font-size: 12px;
    color: rgb(51, 71, 91);
    height: 44px;
    padding: 8px 24px 4px;
    text-align: left;
    border-color: rgb(223, 227, 235);
    border-style: solid;
    border-width: 1px 0px 0px;
    background-color: rgb(245, 248, 250);
}

td {
    height: 72px;
    padding: 16px 24px;
    border-color: rgb(223, 227, 235);
    border-style: solid;
    border-width: 1px 0px 0px;
}

td > * {
    padding: 9px 10px;
    border-radius: 3px;
    border: 1px solid #cbd6e2;
    font-size: 16px;
    background-color: #f5f8fa;
    color: #33475b;
    display: block;
    height: 40px;
    line-height: 22px;
    width: 100%;
    font-family: Helvetica;
}

span {
    border: 0px;
}

input#imp-sub {
    background-color: #ff7a59;
    border-color: #ff7a59;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 24px;
    font-family: Helvetica;
    font-weight: 500;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

input#imp-sub:hover {
    background-color: #ff8f73;
    border-color: #ff8f73;
    color: #fff;
}
